.pets-section {
    margin: 50px auto;
    max-width: 900px;
    text-align: center;
}

.pets-img {
    max-width: 400px;
    max-height: 400px;
}

.pets-clicks {
    font-weight: bolder;
    color: red;
    border: 2px solid red;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 10px auto;
}