.pets-section {
    margin: 50px auto;
    max-width: 900px;
    text-align: center;
}

.pets-post {
    border: 2px solid grey;
    max-width: 400px;
    display: inline-block;
    margin: 20px;
}

.pets-img {
    max-width: 400px;
    max-height: 300px;
}

.pets-clicks {
    font-weight: bolder;
    color: red;
    border: 2px solid red;
    width: 40px;
    height: 18px;
    margin: 10px auto;
}